<a href="https://colab.research.google.com/github/RitukumariBE/ML-Notebook/blob/main/Working_with_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
!git clone https://github.com/campusx-official/100-days-of-machine-learning.git

Cloning into '100-days-of-machine-learning'...
remote: Enumerating objects: 591, done.
remote: Counting objects: 100% (216/216), done.
remote: Compressing objects: 100% (43/43), done.
remote: Total 591 (delta 182), reused 173 (delta 173), pack-reused 375 (from 2)
Receiving objects: 100% (591/591), 16.81 MiB | 16.99 MiB/s, done.
Resolving deltas: 100% (229/229), done.

In [17]:
%cd 100-days-of-machine-learning

/content/100-days-of-machine-learning/100-days-of-machine-learning

In [18]:
!ls

 adaboost_demo.ipynb				   day40-iterative-imputer
'day15 - working with csv files'		   day42-outlier-removal-using-zscore
'day16 - working-with-json-and-sql'		   day43-outlier-removal-using-iqr-method
 day17-api-to-dataframe				   day44-outlier-detection-using-percentiles
 day18-pandas-dataframe-using-web-scraping	   day45-feature-construction-and-feature-splitting
 day19-understanding-your-data-descriptive-stats   day47-pca
 day20-univariate-analysis			   day48-simple-linear-regression
 day21-bivariate-analysis			   day49-regression-metrics
 day22-pandas-profiling				   day50-multiple-linear-regression
 day24-standardization				   day51-gradient-descent
 day25-normalization				   day52-types-of-gradient-descent
 day26-ordinal-encoding				   day53-polynomial-regression
 day27-one-hot-encoding				   day55-regularized-linear-models
 day28-column-transformer			   day56-lasso-regression
 day29-sklearn-pipelines			   day57-elasticnet-regression
 day30-function-transformer			   day58-logistic-regression
 day31-power-transformer			   day59-classification-metrics
 day32-binning-and-binarization			   day60-logistic-regression-contd
 day33-handling-mixed-variables			   day65-random-forest
 day34-handling-date-and-time			   day66-adaboost
 day35-complete-case-analysis			   day68-stacking
 day36-imputing-numerical-data			   day68-stacking-and-blending
 day37-handling-missing-categorical-data	   gradient-boosting
 day38-missing-indicator			   kmeans
 day39-knn-imputer

1. Importing pandas

In [19]:
import pandas as pd

## 2.OPening a local csv file

In [20]:
df= pd.read_csv('/content/100-days-of-machine-learning/day15 - working with csv files/aug_train.csv')
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

## 3.Opening a csv file from an url

In [21]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers ={"User-Agent":"Mozilla/5.0(Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url,headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

## 4. Sep parameter

In [22]:
import pandas as pd
pd.read_csv('/content/100-days-of-machine-learning/day15 - working with csv files/movie_titles_metadata.tsv', sep='\t')

,m0,10 things i hate about you,1999,6.90,62847,['comedy' 'romance']
0,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
1,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
2,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
3,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
4,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
...,...,...,...,...,...,...
611,m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
612,m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
613,m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
614,m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
615,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

In [25]:
pd.read_csv('/content/100-days-of-machine-learning/day15 - working with csv files/movie_titles_metadata.tsv',sep='\t',names=['sno','name','release year','rating','votes','genres'])

,sno,name,release year,rating,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
...,...,...,...,...,...,...
612,m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613,m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
614,m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
615,m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
616,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

## 5.Index_col Parameter

In [28]:
df= pd.read_csv('/content/100-days-of-machine-learning/day15 - working with csv files/aug_train.csv')

In [ ]:
pd.read_csv('')